@use './../_variables/colors' as c;


/* navigation style ================================== */
.navigation {
    // display: grid;
    // grid-template-columns: 1fr 3fr .5fr;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-align: center;
    border-bottom: 1px solid #6c757d;
    background-color: white;
    padding: 10px;

    div {
        margin: 25px;
    }
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
}

.mobAuth {
    
    background-color: c.$accent-m;
    width: auto;
    height: 20px;
    border-radius: 50%;

    p {
        width: 25px;
    }
}

header p {
    color: white;

}

@media screen and (max-width: 600px) {
    .navigation {
        display: grid;
        grid-template-columns: 1fr 1px 1fr;
    }

    .nav-bar {
        display: none;
        margin: 0;
        padding: 0;
    }

}