@use './../_variables/colors' as c;


.main-content {
  position: relative;
}

img{
  height: 700px;
  object-fit: cover;
}


.formDiv {
  text-align: center;
  padding: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 492px;
  height: auto;
  background-color: white;
  border-radius: 10px;
}

.formDiv h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
}

form {
  width: 80%;
  margin: auto;
}

#log-in-btn {
  background-color: c.$accent-m;
  color: white;
}

form {
  display: grid;
}

form input,
form button {
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.formDiv{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media screen and (max-width: 500px) {
  .formDiv {
    margin: 0;
    width: 100%;
    height: auto;
  }

}

#log-in-btn{
  margin-bottom: 5px;
}
@media screen and (min-width: 501px) {
  .formDiv {
    min-width: 350px;
    max-width: 60%;
  }

}

.login, .signup {
  input {
    border: 1px solid black;
  }

  button {
    border: none;
    cursor: pointer;
  }
}