img{
    width: 100%;
}

.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.formDiv{
    text-align: center;
    padding: 10%;
}

.formDiv h1{
    color: orange;
}

form{
    display: grid;
}

form input{
    padding: 10px;
    margin: 10px 0;
}

button{
    padding: 10px 0;
}