body {
  background-color: #e9ecef;
}

h1 {
  text-align: center;
  padding: 10px;
}

.qr-main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  max-width: 1400px;
  height: 500px;
  margin: auto;
  

  .qr-scan {
    width: 172px;
    height: 200px;
  }

  p {
    text-align: center;
    width: 400px;
  }

}

.btnQr{
    text-align: center;
}

.btnQr button{
  padding: 10px;
  background-color: #EE5922;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
}

.qr-main-img{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

@media only screen and (max-width: 600px) {
   

  

  }
