
.navigation {
    .mobAuth {
        button {
            background: $accent-m;
            border: 0px;
            color: #fff;
            font-weight: 600;
            border-radius: 8px;
            padding: 8px;
            cursor: pointer;
        }
    }
}

@media (max-width: 600px) {
    .formDiv {
        width: 90%;
    }

    .navigation {
        grid-template-columns: 1fr 1fr 1fr;

        .humb img {
            width: 100%;
            height: auto;
        }

        nav {
            display: none;
        }

        .mobAuth {
            text-align: right;
            margin: 0px;

            button {
                background: $accent-m;
                border: 0px;
                color: #fff;
                padding-left: 10px;
                padding-right: 10px;
                font-weight: 600;
                border-radius: 8px;
            }

            p {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
            }
        }
    }

    .main {
        .Home {
            .shadow {
                .home-container {
                    .home-description {
                        width: 90%;

                        h2 {
                            width: 70%;
                            font-size: 18px;
                        }

                        p {
                            line-height: 24px;
                            margin: 20px 60px;
                        }
                    }
                }
            }
        }

        .bookingPage {
            padding: 50px 20px;

            .NewBooking {

                #step1,
                #step2 {
                    p {
                        font-size: 22px;
                        width: 100%;
                        border-radius: 8px;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .option {
                    #stepOne {
                        grid-template-columns: 1fr;

                        #booking1,
                        #booking2 {
                            width: 100%;
                            gap: 10px;
                        }

                        .buttons {
                            display: flex;
                            flex-direction: column;

                            button {
                                width: 100%;
                                height: 40px;
                            }

                            #next1 {
                                order: 1;
                                margin: 8px 0px;
                            }

                            #cancel1 {
                                order: 2;
                            }
                        }
                    }
                }

                .booking2 {
                    #secondBooking {
                        #filters {
                            width: 100%;
                            padding: 20px;
                            grid-template-columns: 1fr;
                            grid-template-rows: unset;

                            article {
                                grid-row: unset;
                                width: 100%;
                                text-align: left;
                            }

                            #filterSection {
                                flex-direction: column;

                                form {
                                    width: 100%;
                                    margin: 0;

                                    div {
                                        width: 100%;

                                        select {
                                            width: 100%;
                                            height: 30px;
                                            padding: 0px 10px;
                                        }
                                    }
                                }

                                .formOuter {
                                    display: flex;
                                    gap: 6px;
                                    justify-content: center;

                                    form {
                                        width: 33%;
                                        flex: 0 0 auto;

                                        label {
                                            font-size: 14px;
                                        }

                                        .check-box {
                                            input[type=checkbox] {
                                                width: 36px;
                                                height: 18px;
                                                margin: 0px;
                                                padding: 0;
                                            }

                                            input[type=checkbox] {
                                                &::after {
                                                    width: 10px;
                                                    height: 10px;
                                                    top: 4px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        #timing {
                            grid-template-columns: 1fr;
                            grid-template-rows: unset;
                            padding: 20px;
                            margin: 0;
                            width: 100%;

                            div {
                                flex-flow: unset;
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                gap: 20px;

                                p {
                                    width: 100%;
                                    margin: 0px;
                                }
                            }
                        }
                    }

                    .map {
                        margin-top: 30px;
                        width: 100%;

                        h2 {
                            margin-bottom: 10px;
                        }

                        .booking-content {
                            height: 380px !important;
                            padding: 20px;
                            grid-template-columns: unset;
                            grid-template-rows: unset;
                            gap: 10px;
                            overflow-x: auto;

                            p {
                                margin: 0px;
                                width: 22px;
                            }
                        }

                        .buttons {
                            grid-column: unset;
                            display: flex;
                            flex-direction: column;
                            margin-top: 20px;

                            #cancel2,
                            #next2 {
                                width: 100%;
                            }

                            #next2 {
                                margin: 10px 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 600px) {
    .formDiv {}

    .navigation {
        grid-template-columns: 1fr 1fr;

        .humb {
            display: none;
        }

        .mobAuth {


            p {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
            }
        }
    }
}